# 데이터
data/raw/
data/processed/
*.csv
*.parquet

# MLflow
mlruns/
mlartifacts/
mlflow-store/
*.db

# 서빙
logs/

# Models
models/

# DVC
.dvc/cache/
.dvc/tmp/

# Python~
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/

# 테스트
.pytest_cache/
.coverage

# 노트북
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store